section.experience#experience
  h2.experience__title Experience
  p.experience__title--bg 02
  img.experience__title--divider(src="/assets/img/leaf-divider.png")
  
  mixin card(pretitle, title, subtitle, subtitle2, description)
    .experience__card
      img.experience__card--icon(src="/assets/img/school.svg")
      h4.experience__card--pretitle=pretitle
      h3.experience__card--title=title
      h4.experience__card--subtitle.no-marg=subtitle
      h4.experience__card--subtitle=subtitle2
      .experience__card--text-box
        p=description
  .experience__wrapper.no-mobile
    .experience__card-wrapper     
      +card("Internship Experience", "Vestavia Hills Elementary East", "2nd Grade - Spring 2016", "Vestavia Hills, AL", "Co-planned and team-taught alongside my cooperating teacher. Completed ten days of nonconsecutive teaching. Planned and taught ten full consecutive days of teaching. This included planning curriculum, including assessments and classroom management. During this time, I attended grade level meetings and faculty meetings. I observed other grade levels, the media specialist, the music teacher, and parent-teacher conferences. I also attended Open House and multiple field trips.")
      +card("Practicum Experience", "West Smiths Station Elementary School", "4th Grade - Spring 2015", "Smith Station, AL", "Observed and participated in a classroom setting. Created and implemented multiple whole group and small group lessons (specifically Language Arts and Social Studies). These lessons were created based off of state and school-wide curriculum standards.")
      +card("Music Experience", "Reeltown Elementary School", "Kindergarten - Spring 2015", "Notasulga, AL", "Created integrated lessons using Arts Education standards, along with other curriculum standards for whole group instruction. These lessons included music, art, science, social studies, and technology.")
    .experience__card-wrapper
      +card("Practicum Experience", "Wrights Mill Road Elementary School", "3rd Grade - Fall 2015", "Auburn, AL", "Observed and participated in a classroom setting. Created and implemented multiple whole group and small group lessons (specifically Math and Science). These lessons were created based off of state and school-wide curriculum standards.")
      +card("Reading and Literacy Experience", "Loachapoka Elementary School", "2nd Grade - Fall 2014", "Loachapoka, AL", "Tutored a struggling reader once a week for the entire semester. Created lessons to help develop phonemic awareness and fluency.")
      +card("Service Learning Experience", "Southview Primary School", "Kindergarten/2nd Grade - Fall 2014", "Opelika, AL", "Met once a week for two hours to tutor both a kindergartener and a 2nd grader.")
      +card("Observing and Aiding", "Redland Elementary School", "2nd Grade - Fall 2012", "Wetumpka, AL", "Observed for a full school week. I helped by grading papers, participated in one-on-one tutoring, and led whole group arts and crafts activities.")
    
  .experience__wrapper.no-desktop
    .experience__card-wrapper     
      +card("Internship Experience", "Vestavia Hills Elementary East", "2nd Grade - Spring 2016", "Vestavia Hills, AL", "Co-planned and team-taught alongside my cooperating teacher. Completed ten days of nonconsecutive teaching. Planned and taught ten full consecutive days of teaching. This included planning curriculum, including assessments and classroom management. During this time, I attended grade level meetings and faculty meetings. I observed other grade levels, the media specialist, the music teacher, and parent-teacher conferences. I also attended Open House and multiple field trips.")
      +card("Practicum Experience", "Wrights Mill Road Elementary School", "3rd Grade - Fall 2015", "Auburn, AL", "Observed and participated in a classroom setting. Created and implemented multiple whole group and small group lessons (specifically Math and Science). These lessons were created based off of state and school-wide curriculum standards.")
      +card("Practicum Experience", "West Smiths Station Elementary School", "4th Grade - Spring 2015", "Smith Station, AL", "Observed and participated in a classroom setting. Created and implemented multiple whole group and small group lessons (specifically Language Arts and Social Studies). These lessons were created based off of state and school-wide curriculum standards.")
      +card("Reading and Literacy Experience", "Loachapoka Elementary School", "2nd Grade - Fall 2014", "Loachapoka, AL", "Tutored a struggling reader once a week for the entire semester. Created lessons to help develop phonemic awareness and fluency.")
      +card("Music Experience", "Reeltown Elementary School", "Kindergarten - Spring 2015", "Notasulga, AL", "Created integrated lessons using Arts Education standards, along with other curriculum standards for whole group instruction. These lessons included music, art, science, social studies, and technology.")
      +card("Service Learning Experience", "Southview Primary School", "Kindergarten/2nd Grade - Fall 2014", "Opelika, AL", "Met once a week for two hours to tutor both a kindergartener and a 2nd grader.")
      +card("Observing and Aiding", "Redland Elementary School", "2nd Grade - Fall 2012", "Wetumpka, AL", "Observed for a full school week. I helped by grading papers, participated in one-on-one tutoring, and led whole group arts and crafts activities.")

  hr.experience__section-break
  
  h3.experience__subheading Certification & Training
  p.experience__subheading--subtitle (details in full resume)
  
  .experience__three-column
    .experience__three-column--column
      img(src="/assets/img/praxis.svg")
      h4 Praxis Completed
    .experience__three-column--column
      img(src="/assets/img/amsti.svg")
      h4 AMSTI Certified
    .experience__three-column--column
      img.width-constrain(src="/assets/img/ari_book.svg")
      h4 Alabama Reading Initiative (ARI) Trained

  .experience__cta
    p.experience__cta--message Download a PDF of my resume here
    a.experience__cta--button(href="https://drive.google.com/file/d/0B24-Xa0xZVe0WXplRGc5X0l1U3M/view?usp=sharing" target"_blank") Resume PDF
